---
import Section from "@/components/Section.astro";
import { work } from "@cv";
const month = [
    "Enero",
    "Febrero",
    "Marzo",
    "Abril",
    "Mayo",
    "Junio",
    "Julio",
    "Agosto",
    "Septiembre",
    "Octubre",
    "Noviembre",
    "Diciembre",
    ]
---

<Section title="Experiencia profesional">
    <ul>
        {
            work.map(
                ({
                    name,
                    startDate,
                    endDate,
                    position,
                    summary,
                }) => {
                    const startYear = new Date(startDate).getFullYear();
                    const startMonth = new Date(startDate).getMonth();
                    const endYear =
                        endDate != null
                            ? new Date(endDate).getFullYear()
                            : "Actual";
                    const endMonth = 
                        endDate != null
                        ? new Date(endDate).getMonth()
                        : 10;
                    const years = `${startYear} / ${month[startMonth]} - ${endYear}${(endYear!="Actual")?' / '+month[endMonth]:""}`;
                    return (
                        <li>
                            <article>
                                <header>
                                    <div>
                                        <h3>{name}</h3>
                                        <h4>{position}</h4>
                                    </div>
                                    <time >{years}</time>
                                </header>
                                <footer>
                                    {summary.map(sumaryParagraph =>{
                                        return (<p>{sumaryParagraph}</p>)
                                    }
                                    )}
                                </footer>
                            </article>
                        </li>
                    );
                },
            )
        }
    </ul>
</Section>
<style>
    ul {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    article h3 {
        font-weight: 500;
        color: #111;
    }
    article h4 {
        font-weight: 400;
        color: #222;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 4px;
    }
    time {
        color: #555;
        font-size: 0.85rem;
    }
</style>